{% extends "base.html" %}
{% import "flash_banner.html" as flash_banner %}

{% block body %}
    <div>
        <div class="grid grid-cols-3 gap-12 pl-8">
            <div class="col-start-1 flex flex-col justify-center">
                <h1 class="mb-12 text-3xl">Welcome to Sepal</h1>
                <form method="post" action="{{ url_for('auth.login') }}">
                    {{ form.csrf_token }}
                    {{ form.invitation }}

                    <div>
                        {{ form.email.label(class_="spl-label") }}
                        <div class="mt-2">
                            {{ form.email(class_="spl-input") }}
                            {% if form.email.errors %}
                                <ul class="errors">
                                    {% for error in form.email.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mt-4">
                        {{ form.password.label(class_="spl-label") }}
                        <div class="mt-2">
                            {{ form.password(class_="spl-input") }}
                            {% if form.password.errors %}
                                <ul class="errors">
                                    {% for error in form.password.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>

                    <div class="flex flex-row mt-4 justify-between items-center">
                        <button type="submit"
                                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-700 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                        >Login</button>

                        {# Assumes you set up the password_reset view in your URLconf #}
                        <p><a href="{{ url_for('auth.forgot_password') }}">Forgot password?</a></p>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">

                    <div class="mt-4">
                        <a href="{{ url_for('auth.register') }}">Don't have an account?</a>
                    </div>
                </form>


                <div class="mt-4">
                    {{ form.non_field_errors }}
                </div>

                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                    {% else %}
                        <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}
            </div>

            <div class="col-span-2">
                <img src="{{ static_url_for('auth.static', filename="img/jose-fontano-WVAVwZ0nkSw-unsplash_1080x1620.jpg") }}"
                     class="h-screen w-full object-cover object-center"
                     alt="login banner"/>
            </div>

        </div>
        {{ flash_banner.render_flash_banner() }}
    </div>

{% endblock body %}
