{% extends "base.html" %}

{% block body %}
    <div class="grid gap-4 grid-cols-3 grid-rows-3">
        <div class="col-start-2 row-start-2">
            <h1 class="text-3xl mb-4">Sepal</h1>
            <h1 class="text-xl">Reset password for {{ email }}</h1>
            <form method="post" action="{{ url_for("auth.reset_password") }}">
                {{ form.csrf_token }}
                {{ form.password_reset_token }}

                <div class="mt-4">
                    {{ form.password.label(class_="spl-label") }}
                    <div class="mt-1 relative rounded-md shadow-sm">
                        {{ form.password(class_="spl-input") }}
                        {% if form.password.errors %}
                            <ul class="errors">
                                {% for error in form.password.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>

                <div class="mt-4">
                    {{ form.confirm_password.label(class_="spl-label") }}
                    <div class="mt-1 relative rounded-md shadow-sm">
                        {{ form.confirm_password(class_="spl-input") }}
                        {% if form.confirm_password.errors %}
                            <ul class="errors">
                                {% for error in form.confirm_password.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>

                <div class="flex flex-row mt-4 justify-between items-center">
                    <button type="submit"
                            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-700 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                    >Submit</button>
                </div>
            </form>

            <div class="mt-4">
                {{ form.non_field_errors }}
            </div>

        </div>
    </div>
{% endblock body %}
