.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov

venv/
.envrc
.tox/
*.egg-info
flycheck_*
.ruff_cache/
.mypy_cache/
.pytest_cache/

.lsp-session
.dir-locals.el
node_modules/
*.min.js

# flask-static-digest ignores
cache_manifest.json
*-[0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f].*
*.gz
*.min.js
*.min.js.map
*.min.css
