{:aliases  {:dev {:extra-paths ["development/src"

                                ;; Bases
                                "bases/app/src"
                                "bases/app/resources"

                                ;; Components
                                "components/config/src"
                                "components/database/src"
                                "components/organization/src"
                                "components/taxon/src"
                                "components/user/src"
                                "components/validation/src"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}

                               aero/aero {:mvn/version "1.1.6"}
                               camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
                               com.github.seancorfield/honeysql {:mvn/version "2.2.868"}
                               com.github.seancorfield/next.jdbc {:mvn/version "1.2.780"}
                               com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"} ;; needed by migratus
                               hato/hato {:mvn/version "0.8.2"}
                               integrant/integrant {:mvn/version "0.8.0"}
                               integrant/repl {:mvn/version "0.3.2"}
                               info.sunng/ring-jetty9-adapter {:mvn/version "0.17.0"
                                                               ;; uses slf4j 2.x which doesn't seem to behave well
                                                               ;; with logback 1.2.3
                                                               :exclusions [org.slf4j/slf4j-api]}
                               metosin/malli {:mvn/version "0.8.4"}
                               metosin/reitit {:mvn/version "0.5.17"}
                               metosin/ring-http-response {:mvn/version "0.9.3"}
                               migratus/migratus {:mvn/version "1.3.0"}
                               org.postgresql/postgresql {:mvn/version "42.3.3"}
                               ring/ring-defaults {:mvn/version "0.3.3"}
                               rum/rum {:mvn/version "0.12.9"
                                        :exclusions [cljsjs/react cljsjs/react-dom]}}

                  ;; OmitStackTraceInFastThrow add stacktraces when running in a
                  ;; repl that might otherwise have been optimized out, see
                  ;; https://docs.cider.mx/cider/troubleshooting.html#empty-java-stacktraces
                  :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}

            :test {:main-opts ["-m" "kaocha.runner"]
                   :extra-paths ["bases/app/test"
                                 "components/config/test"
                                 "components/database/test"
                                 "components/organization/test"
                                 "components/taxon/test"
                                 "components/user/test"
                                 "components/validation/test"]
                   :extra-deps {com.gearswithingears/shrubbery {:mvn/version "0.4.1"}
                                lambdaisland/kaocha {:mvn/version "1.64.1010"}}}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :deps {polyfy/polylith
                          {:git/url "https://github.com/polyfy/polylith"
                           :git/sha "e874e809aa9d3cecaa0540376bd2875f99b37372"
                           :git/tag "v0.2.14-alpha"
                           :deps/root "projects/poly"}}}}}
