#kaocha/v1
 {:tests [{:id :unit
           :test-paths ["bases/app"
                        "components/aws-s3/test"
                        "components/config/test"
                        "components/database/test"
                        "components/organization/test"
                        "components/taxon/test"
                        "components/user/test"
                        "components/validation/test"]
           :ns-patterns [".*-test"]}]}
