#kaocha/v1
 {:tests [{:id :unit
           :test-paths ["bases/app"
                        "components/config/test"
                        "components/database/test"]
           :ns-patterns [".*-test"]}]}
