{:dbtype "postgresql"
 :classname "org.postgresql.Driver"
 :subprotocol "postgresql"
 :host #profile {:default #or [#env DB_HOST "localhost"]
                 :production #env DB_HOST
                 :test "localhost"}
 :port #profile {:default #or [#env DB_PORT 5432]
                 :production #env DB_PORT}
 :dbname #profile {:default #or [#env DB_NAME "sepal"]
                   :test "sepal_test"}
 :user #profile {:default #or [#env DB_USER "sepal"]
                 ;; :test #or [#env DB_USER "sepal_test"]
                 :test "sepal_test"}
 :password #profile {:default #env DB_PASSWORD
                     :test "password"}
 :unixSocketPath #env DB_UNIX_SOCKET_PATH
 :socketFactory #env DB_SOCKET_FACTORY
 :cloudSqlInstance #env CLOUD_SQL_INSTANCE}
