{:dbtype "postgresql"
 :classname "org.postgresql.Driver"
 :subprotocol "postgresql"
 :host #profile {:default  #env PGHOST
                 :test "localhost"}
 :port #or [#env PGPORT 5432]
 :dbname #profile {:default #env PGDATABASE
                   :test "sepal_test"}
 :user #profile {:default #env PGUSER
                 :test "sepal"}
 :password #profile {:default #env PGPASSWORD
                     :test "password"}}
