{:sepal.app.core/routes
 {}

 :sepal.app.html/tags
 {:router #ig/ref :sepal.app.core/router}

 :sepal.app.core/liana
 {:profile :local
  :router/routes #ig/ref :sepal.app.core/routes
  :selmer/template-path "app/templates"
  :db/spec #include "database/config.edn"}

 :sepal.app.core/router
 {:liana #ig/ref :sepal.app.core/liana}

 :sepal.app.migrations/migratus
 {:store                :database
  :migration-dir        "bases/app/resources/app/migrations"
  :migration-table-name "schema_migrations"
  :db/spec  #include "database/config.edn"}}
