{;; :sepal.app.core/routes
 ;; {}

 ;; :sepal.app.routes.register.core/routes {}

 :sepal.database.interface/pool
 {:db-spec #include "database/config.edn"}

 :sepal.database.interface/db
 {:connectable #ig/ref :sepal.database.interface/pool}

 :sepal.app.server/jetty
 {:handler #ig/ref :sepal.app.ring/app
  ;; :routes {"/register" (ig/ref :sepal.app.routes.register.core/routes)}
  }

 :sepal.app.ring/app
 {:cookie-secret "1234567890123456"
  :context {:db #ig/ref :sepal.database.interface/db}
  :reload-per-request? #profile {:local true
                                 :default false}
  :ring-defaults #profile {:local :site
                           :default :secure-site}}}
