<div x-data>
    <ul id="media-list"
        role="list"
        class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
        {% for m in media %}
            {% include "media/_media_item.html" %}
        {% endfor %}
    </ul>

    {% if media|length == 0 %}
        <div class="flex justify-center mt-8 lg:mt-32"
             x-data
             x-show="$store.showMediaListEmptyState"
        >
            <button type="button"
                    id="upload-button"
                    class="relative block w-3/4 lg:w-1/2 rounded-lg border-2 border-dashed border-gray-300 p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="mx-auto h-12 w-12 text-gray-400">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                </svg>
                <span class="mt-2 block text-sm font-semibold text-gray-900">Upload media files</span>
            </button>
        </div>
    {% endif %}

    {% include "media/_next_page_button.html" %}
</div>
