{:linters {:refer-all {:exclude [clojure.test embraer-api-server.test-utils]}
           :unused-binding {:exclude-destructured-as true}}
 :lint-as {sepal.database.interface/with-transaction clojure.core/let}}
