{:paths ["src" "resources"]
 :deps {poly/accession {:local/root "../../components/accession"}
        poly/activity {:local/root "../../components/activity"}
        poly/aws-s3 {:local/root "../../components/aws-s3"}
        poly/config {:local/root "../../components/config"}
        poly/database {:local/root "../../components/database"}
        poly/error {:local/root "../../components/error"}
        poly/location {:local/root "../../components/location"}
        poly/material {:local/root "../../components/material"}
        poly/media {:local/root "../../components/media"}
        poly/organization {:local/root "../../components/organization"}
        poly/postmark {:local/root "../../components/postmark"}
        poly/store {:local/root "../../components/store"}
        poly/taxon {:local/root "../../components/taxon"}
        poly/test {:local/root "../../components/test"}
        poly/user {:local/root "../../components/user"}
        poly/validation {:local/root "../../components/validation"}

        babashka/fs {:mvn/version "0.4.19"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.4.1"}
        com.taoensso/timbre {:mvn/version "6.5.0"}
        info.sunng/ring-jetty9-adapter {:mvn/version "0.33.3"}
        lambdaisland/uri {:mvn/version "1.16.134"}
        metosin/malli {:mvn/version "0.16.3"}
        metosin/reitit {:mvn/version "0.7.1"}
        metosin/reitit-middleware {:mvn/version "0.7.1"}
        metosin/ring-http-response {:mvn/version "0.9.4"}
        ring/ring-anti-forgery {:mvn/version "1.3.1"}
        ring/ring-defaults {:mvn/version "0.5.0"}
        ring/ring-devel {:mvn/version "1.12.2"}
        ring/ring-core {:mvn/version "1.12.2"}
        io.github.escherize/huff  {:mvn/version "0.2.12"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
