{:paths ["src" "resources"]
 :deps {babashka/fs {:mvn/version "0.5.27"}
        com.github.brettatoms/zodiac {:mvn/version "0.8.89"}
        com.github.brettatoms/zodiac-assets {:mvn/version "0.3.23"}
        com.github.brettatoms/zodiac-sql {:mvn/version "0.1.10"}
        com.taoensso/nippy {:mvn/version "3.4.2"}
        lambdaisland/uri {:mvn/version "1.16.134"}
        metosin/reitit {:mvn/version "0.7.2"}
        metosin/ring-http-response {:mvn/version "0.9.4"}
        pogonos/pogonos {:mvn/version "0.2.1"}
        ring/ring-anti-forgery {:mvn/version "1.3.1"}
        ring/ring-devel {:mvn/version "1.12.2"}
        ring/ring-core {:mvn/version "1.12.2"}
        com.taoensso/telemere {:mvn/version "1.0.1"}
        com.taoensso/telemere-slf4j {:mvn/version "1.0.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
