{:paths ["src" "resources"]
 :deps {integrant/integrant {:mvn/version "1.0.1"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.xerial/sqlite-jdbc {:mvn/version "3.51.1.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
