@import "tom-select/dist/css/tom-select.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.label-text {
    @apply font-medium;
}

.input {
    @apply bg-white;
}

body {
    @apply bg-slate-50 min-h-dvh;
}

.ts-control {
    border: none;
    padding: 5px 4px 5px 4px;
}

@layer components {
    .spl-input {
        @apply block px-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
    }
    .spl-link {
        @apply underline-offset-4 text-blue-600 hover:underline decoration-solid;
    }
}
