{:paths ["src" "resources"]
 :deps {poly/config {:local/root "../../components/config"}
        poly/database {:local/root "../../components/database"}
        aero/aero {:mvn/version "1.1.6"}
        integrant/integrant {:mvn/version "0.10.0"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.clojure/tools.cli {:mvn/version "1.0.214"}
        migratus/migratus {:mvn/version "1.5.6"}
        com.taoensso/timbre {:mvn/version "6.5.0"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.4.1"}}
 :aliases {:migrate {:main-opts ["-m" "sepal.migrations.core"]}}}
