{:deps {org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}
           :main {:jvm-opts ["-Duser.timezone=UTC"]
                  :main-opts ["-m" "sepal.app.main"]}}}
