{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        poly/base-app {:local/root "../../bases/app"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}
           :main {:jvm-opts ["-Duser.timezone=UTC"]
                  :main-opts ["-m" "sepal.app.main"]}}}
