{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        poly/base-app {:local/root "../../bases/app"}

        poly/accession {:local/root "../../components/accession"}
        poly/activity {:local/root "../../components/activity"}
        poly/scheduler {:local/root "../../components/scheduler"}
        poly/aws-s3 {:local/root "../../components/aws-s3"}
        poly/collection {:local/root "../../components/collection"}
        poly/config {:local/root "../../components/config"}
        poly/contact {:local/root "../../components/contact"}
        poly/database {:local/root "../../components/database"}
        poly/error {:local/root "../../components/error"}
        poly/media-transform {:local/root "../../components/media-transform"}
        poly/location {:local/root "../../components/location"}
        poly/logging {:local/root "../../components/logging"}
        poly/mail {:local/root "../../components/mail"}
        poly/malli {:local/root "../../components/malli"}
        poly/material {:local/root "../../components/material"}
        poly/media {:local/root "../../components/media"}
        poly/settings {:local/root "../../components/settings"}
        poly/store {:local/root "../../components/store"}
        poly/taxon {:local/root "../../components/taxon"}
        poly/test {:local/root "../../components/test"}
        poly/token {:local/root "../../components/token"}
        poly/user {:local/root "../../components/user"}
        poly/validation {:local/root "../../components/validation"}}
 :aliases {:test {:extra-paths []
                  :extra-deps  {}}
           :main {:jvm-opts ["-Duser.timezone=UTC"]
                  :main-opts ["-m" "sepal.app.main"]}}}
