@import "tailwindcss";
@import "slim-select/styles";

@plugin "@tailwindcss/aspect-ratio";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
    themes: emerald;
}

@theme {
    --font-sans: "Inter var", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif; */
    /* --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", */
    /*     "Courier New", monospace; /\* ... *\/ */
}

.fieldset {
    gap: 0;
    font-size: 0.9rem;
}

/* Make the SlimSelect match DaisyUI */
.ss-main {
    @apply shadow-primary;
    border-radius: var(--radius-field);
}

.ss-main:focus {
    --input-color: var(--color-base-content);
    box-shadow: none;
    outline: 2px solid var(--input-color);
    outline-offset: 2px;
    box-shadow: 0 1px
        color-mix(in oklab, var(--input-color) calc(var(--depth) * 10%), #0000);
    border-color: var(--input-color);
}

/* .field-label-text { */
/*     @apply font-medium; */
/* } */

/* .input[aria-invalid="true"] { */
/*     @apply input-error; */
/* } */

/* body { */
/*     @apply min-h-dvh; */
/* } */
