{:paths ["src" "resources"]
 :deps {com.taoensso/telemere {:mvn/version "1.4.0"}
        com.taoensso/telemere-slf4j {:mvn/version "1.4.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
