{:paths ["src" "resources"]
 :deps {com.taoensso/telemere {:mvn/version "1.2.1"}
        com.taoensso/telemere-slf4j {:mvn/version "1.2.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
