{:store :database
 :migration-dir "migrations/versions"
 :db {:dbtype "postgresql"
      :classname "org.postgresql.Driver"
      :subprotocol "postgresql"
      :host #env DB_HOST
      :port #env DB_PORT
      :dbname #env DB_NAME
      :user #env DB_USER
      :password #env DB_PASSWORD}}
