{{#full-name}}Hello {{full-name}},{{/full-name}}
{{^full-name}}Hello,{{/full-name}}

{{inviter-name}} ({{inviter-email}}) has invited you to join Sepal, a botanical collection management system.

To accept this invitation and set up your account, click the link below:

{{accept-url}}

After clicking the link, you will be asked to set a password for your account. Once your password is set, you will need to log in with your email address and new password.

This invitation expires in 24 hours.

If you weren't expecting this invitation, you can safely ignore this email.
