Hello,

Your Sepal garden is ready. Sepal is a botanical collection management system.

To set your password and sign in, click the link below:

{{accept-url}}

This link expires in 24 hours. If it does, use "Forgot password" on the sign-in
page to get a new one.

If you weren't expecting this, you can safely ignore this email.
