A request was made to reset the Sepal password for {{email}}

If you didn't request the password to be reset you can safely ignore this email.

To reset the password for {{email}} open the following link: {{reset-password-url}}

If you have concerns about this email please feel free to reach out to {{support-email}}
