{:paths ["src" "resources"]
 :deps {software.amazon.awssdk/s3 {:mvn/version "2.25.61"
                                   :exclusions [joda-time/joda-time]}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
