{% macro render_detail_tabs(current, org) %}
    <div>
        <div class="sm:hidden">
            <label for="tabs" class="sr-only">Select a tab</label>
            <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
            <select id="tabs" name="tabs" class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
            <option {{ 'selected' if current == 'profile' }}>Profile</option>

            <option>Team</option>

            <option>Settings</option>

            <option>Billing</option>
            </select>
        </div>
        <div class="hidden sm:block">
            <div class="border-b border-gray-200">
                <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                    {% set base_tab_classes = "whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm" %}
                    {% set default_tab_classes = "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" + base_tab_classes %}
                    {% set current_tab_classes = "border-indigo-500 text-indigo-600" + base_tab_classes %}

                    <a href="{{ url_for('organization.detail_profile', id=org.id) }}" class="{{ current_tab_classes if current == 'profile' else default_tab_classes }}">Profile</a>
                    <a href="{{ url_for('organization.detail_team', id=org.id) }}" class="{{ current_tab_classes if current == 'team' else default_tab_classes }}">Team</a>
                    <a href="{{ url_for('organization.detail_settings', id=org.id) }}" class="{{ current_tab_classes if current == 'settings' else default_tab_classes }}">Settings</a>
                    <a href="{{ url_for('organization.detail_billing', id=org.id) }}" class="{{ current_tab_classes if current == 'billing' else default_tab_classes }}">Billing</a>
                </nav>
            </div>
        </div>
    </div>
{% endmacro %}
