{% import "icons/heroicon.html" as heroicon %}
{% import "icons/bootstrap.html" as bootstrap %}

{% macro render_static_sidebar_item(text, href=None, icon=None, current=False) -%}
    <a href={{ href }}
       class="{{'text-gray-900 bg-gray-100' if current else 'text-gray-600 hover:bg-gray-50 hover:text-gray-900'}} hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md {{'pointer-events-none' if not href}}"
    >
        {% if icon %}
            <div class="mr-3">{{ icon }}</div>
        {% endif %}
        {{text}}
    </a>
{%-  endmacro %}


<div class="hidden md:flex md:w-64 md:flex-col md:fixed md:inset-y-0">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <div class="flex-1 flex flex-col min-h-0 border-r border-gray-200 bg-white">
        <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
            <div class="flex items-center flex-shrink-0 px-4">
                <h1 class="text-2xl">Sepal</h1><span class="ml-2">[beta]</span>
            </div>
            <div class="px-4 pt-2">
                {% if current_organization %}
                    <a href="{{ url_for('organization.detail', id=current_organization.id) }}">
                        {{ current_organization.name }}
                    </a>
                {% endif %}
            </div>
            <nav class="mt-5 flex-1 px-2 bg-white space-y-1">
                {% set href = url_for('activity.list') if current_organization else None %}
                {% set is_current = True if href == request.path else False %}
                {{ render_static_sidebar_item("Activity", href, heroicon.outline_clock(color="text-gray-500" if current else "text-gray-500"), current=is_current) }}

                {% set href = url_for('accession.list') if current_organization else None %}
                {% set is_current = True if href == request.path else False %}
                {{ render_static_sidebar_item("Accessions", href, heroicon.outline_rectangle_group(color="text-gray-500" if current else "text-gray-500"), current=is_current) }}

                {% set href = url_for('item.list') if current_organization else None %}
                {% set is_current = True if href == request.path else False %}
                {{ render_static_sidebar_item("Items", href, heroicon.outline_tag(color="text-gray-500" if current else "text-gray-500"), current=is_current) }}

                {% set href = url_for('taxon.list') if current_organization else None %}
                {% set is_current = True if href == request.path else False %}
                {{ render_static_sidebar_item("Taxa", href, bootstrap.flower1(color="text-gray-500" if current else "text-gray-500"), current=is_current) }}

                {% set href = url_for('location.list') if current_organization else None %}
                {% set is_current = True if href == request.path else False %}
                {{ render_static_sidebar_item("Locations", href, heroicon.outline_map_pin(color="text-gray-500" if current else "text-gray-500"), current=is_current) }}

                {% set href = url_for('media.index') if current_organization else None %}
                {% set is_current = True if href == request.path else False %}
                {{ render_static_sidebar_item("Media", href, heroicon.outline_photo(color="text-gray-500" if current else "text-gray-500"), current=is_current) }}
            </nav>
        </div>

        <div x-data="{expanded: false}"
             role="region"
             class="flex-shrink-0 flex border-t border-gray-200"
        >
            <button
                x-on:click="expanded = !expanded"
                :aria-expanded="expanded"
                class="flex-shrink-0 w-full group block p-4"
            >
                <div class="flex items-center">
                    <div>
                        {% if current_user.avatar_s3_key  %}
                            <img class="inline-block h-9 w-9 rounded-full"
                                src="{{ current_user.avatar_url(50)|default('', true)}}"
                                alt="">
                        {% else %}
                            {{ heroicon.user_circle(size=38) }}
                        {% endif %}
                    </div>
                    <div class="overflow-hidden">
                        {% if current_user.name %}
                            <p class="text-md text-ellipsis text-left font-medium text-gray-700 group-hover:text-gray-900 block overflow-hidden">
                                {{ current_user.name }}
                            </p>
                        {% endif %}
                        <p class="text-sm text-ellipsis text-left font-medium text-gray-500 group-hover:text-gray-700 block overflow-hidden">
                            {{ current_user.email  }}
                        </p>
                    </div>
                </div>
            </a>
            <div x-show="expanded"
                 x-collapse
                 class="mt-3"
            >
                <a href="{{ url_for('auth.profile') }}"
                   class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md"
                >Settings</a>
                {% if session['show_switch_organizations'] == 'true' %}
                    <a href="{{ url_for('organization.switch') }}"
                       class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md"
                    >Switch organizations</a>
                {% endif %}
                <a href="{{ url_for('auth.logout') }}"
                   class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md"
                >Logout</a>
            </div>
        </div>
    </div>
</div>
